:root {
    --reallylike:#48a0a8;
    --gold: rgba(174, 137, 75, 0.749);
    --navy:rgba(15,28,46);
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 7rem;
}





.hero-shot{
    text-align: center;
    background-image: url(../assets/beachumbrellas.jpg);
    height: 100vh;
    align-content: center;
    color: white;
    font-size: 5rem;
}

.second-shot{
    text-align: center;
}
.navbar{
    padding: 0;
}
.nav-background {
background-color: var(--navy);;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}
.nav-link{
    color:white;
    background-color: var(--gold);
border-color: black;
border-width: 5px;
border-style: double;
margin-left: 15px;
border-radius: 10px;
padding-left: 20px !important;
padding-right: 20px !important;

}
.resort{
    font-size: 2rem;
    font-weight: 400;
     text-shadow:5px 5px 10px rgba(0, 0, 0, 0.5); /* A black shadow, offset, blurred */
}
.welcome{
    font-size: 2rem;
    font-weight: 400;
     text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* A black shadow, offset, blurred */
}


.box{
    background-color: var(--gold);
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 25px;
    padding-top:50px;
    padding-bottom: 50px;
}

.navbar{
    background-color: var(--gold);
}

.navbar-toggler {
background-color: var(--gold);
}

.booking-row{
    background-color: var(--gold);
    border-radius: 25px;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; */
}

body{
    background-color: var(--navy);
}


.plan{
margin: auto;
}










































/* uiverse code */

/* From Uiverse.io by Yaya12085 */ 
.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #fff;
  color: #697e91;
  max-width: 300px;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.plan .pricing small {
  color: #707a91;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #425675;
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: #1FCAC5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.plan .button {
  background-color: #0f1c2e;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan .button:hover, .plan .button:focus {
  background-color: #ae894bbf;
}